/* Site specific CSS */

/* Overlay */


#overlay {
	background: #E0EBEB;
	opacity: 0.8;
 	width:1250px;
 	height:100%;
	position:absolute;
 	top:0;
 	left:50px;
 	text-align: center;
}


#overlay p {
	font-size: 30px;
	margin-top: 300px;
}

.form-group {
	width: 30%;
	margin: 0 auto;
	margin-top: 10%;
}



