/* Site specific CSS */

body {
	margin-bottom: 5%;
}

/* Overlay */


#overlay {
	background: #E0EBEB;
	opacity: 0.8;
 	width:30%;
 	position: absolute;
 	top: 10%;
 	left: 33%;	
	padding-top: 5%;
	padding-bottom: 5%;	
	text-align: center;
}


#overlay p {
	font-size: 30px;
	margin-top: 300px;
}

.form-group {
	width: 30%;
	margin: 0 auto;
	margin-top: 10%;
}

#map-canvas {
	width: 700px;
	height: 700px;
	margin: 0 auto;
	padding: 0;

}




